@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}

.row {
  color: white;
  background-color: #264877;
}

.card-title{
    display: flex;
    align-items: center;
}

.card-text {
  color: #9eadc2;
  text-decoration: underline;
}

.img {
  width: 200px;
  height: 230px;
  object-fit: contain;
}